<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Baloo+Tamma+2:wght@400..800&family=Dancing+Script&family=Herr+Von+Muellerhoff&family=Parisienne&family=Playwrite+VN:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
   <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Sirinadu</title>
</head>
<body>
    <!--Scroller starts here-->
    <div class="container left">
        <div class="scroller">
            <div class="scroller__inner">
                <!-- Image 1 -->
                <div class="image" data-image="1.png">
                    <img src="{{ url_for('static', filename='images/1.png') }}" alt="Yaduraya (1399-1463)">
                    <div class="overlay">
                        <div class="text">Yaduraya (1399-1463)</div>
                    </div>
                </div>
                <!-- Image 2 -->
                <div class="image" data-image="2.png">
                    <img src="{{ url_for('static', filename='images/2.png') }}" alt="Chamaraja Wodeyar I (1423-1449)">
                    <div class="overlay">
                        <div class="text">Chamaraja Wodeyar I (1423-1449)</div>
                    </div>
                </div>
                <!-- Image 3 -->
                <div class="image" data-image="3.png">
                    <img src="{{ url_for('static', filename='images/3.png') }}" alt="Timmaraja Wodeyar (1459-1478)">
                    <div class="overlay">
                        <div class="text">Timmaraja Wodeyar (1459-1478)</div>
                    </div>
                </div>
                <!-- Image 4 -->
                <div class="image" data-image="4.png">
                    <img src="{{ url_for('static', filename='images/4.png') }}" alt="Hiriya Chamaraja Wodeyar (1478-1513)">
                    <div class="overlay">
                        <div class="text">Hiriya Chamaraja Wodeyar (1478-1513)</div>
                    </div>
                </div>
                <!-- Image 5 -->
                <div class="image" data-image="5.png">
                    <img src="{{ url_for('static', filename='images/5.png') }}" alt="Hiriya Bettada Chamaraja Wodeyar III (1513-1553)">
                    <div class="overlay">
                        <div class="text">Hiriya Bettada Chamaraja Wodeyar III (1513-1553)</div>
                    </div>
                </div>
                <!-- Image 6 -->
                <div class="image" data-image="6.png">
                    <img src="{{ url_for('static', filename='images/6.png') }}" alt="Timmaraja Wodeyar II (1553-1572)">
                    <div class="overlay">
                        <div class="text">Timmaraja Wodeyar II (1553-1572)</div>
                    </div>
                </div>
                <!-- Image 7 -->
                <div class="image" data-image="7.png">
                    <img src="{{ url_for('static', filename='images/7.png') }}" alt="Bola Chamaraja Wodeyar IV (1572-1576)">
                    <div class="overlay">
                        <div class="text">Bola Chamaraja Wodeyar IV (1572-1576)</div>
                    </div>
                </div>
                <!-- Image 8 -->
                <div class="image" data-image="8.png">
                    <img src="{{ url_for('static', filename='images/8.png') }}" alt="Bettada Chamaraja Wodeyar V (1576-1578)">
                    <div class="overlay">
                        <div class="text">Bettada Chamaraja Wodeyar V (1576-1578)</div>
                    </div>
                </div>
                <!-- Image 9 -->
                <div class="image" data-image="9.png">
                    <img src="{{ url_for('static', filename='images/9.png') }}" alt="Raja Wodeyar I (1578-1617)">
                    <div class="overlay">
                        <div class="text">Raja Wodeyar I (1578-1617)</div>
                    </div>
                </div>
                <!-- Image 10 -->
                <div class="image" data-image="10.png">
                    <img src="{{ url_for('static', filename='images/10.png') }}" alt="Chamaraja Wodeyar VI (1617-1637)">
                    <div class="overlay">
                        <div class="text">Chamaraja Wodeyar VI (1617-1637)</div>
                    </div>
                </div>
                <!-- Image 11 -->
                <div class="image" data-image="11.png">
                    <img src="{{ url_for('static', filename='images/11.png') }}" alt="Raja Wodeyar II (1637-1638)">
                    <div class="overlay">
                        <div class="text">Raja Wodeyar II (1637-1638)</div>
                    </div>
                </div>
                <!-- Image 12 -->
                <div class="image" data-image="12.png">
                    <img src="{{ url_for('static', filename='images/12.png') }}" alt="Ranadhira Kantheerava Narasaraja Wodeyar I (1638-1659)">
                    <div class="overlay">
                        <div class="text">Ranadhira Kantheerava Narasaraja Wodeyar I (1638-1659)</div>
                    </div>
                </div>
                <!-- Image 13 -->
                <div class="image" data-image="13.png">
                    <img src="{{ url_for('static', filename='images/13.png') }}" alt="Dodda Devaraja Wodeyar (1659-1673)">
                    <div class="overlay">
                        <div class="text">Dodda Devaraja Wodeyar (1659-1673)</div>
                    </div>
                </div>
                <!-- Image 14 -->
                <div class="image" data-image="14.png">
                    <img src="{{ url_for('static', filename='images/14.png') }}" alt="Chikkadevaraja Wodeyar (1673-1704)">
                    <div class="overlay">
                        <div class="text">Chikkadevaraja Wodeyar (1673-1704)</div>
                    </div>
                </div>
                <!-- Image 15 -->
                <div class="image" data-image="15.png">
                    <img src="{{ url_for('static', filename='images/15.png') }}" alt="Kantheerava Narasaraja Wodeyar II (1704-1714)">
                    <div class="overlay">
                        <div class="text">Kantheerava Narasaraja Wodeyar II (1704-1714)</div>
                    </div>
                </div>
                <!-- Image 16 -->
                <div class="image" data-image="16.png">
                    <img src="{{ url_for('static', filename='images/16.png') }}" alt="Dodda Krishnaraja Wodeyar (1714-1732)">
                    <div class="overlay">
                        <div class="text">Dodda Krishnaraja Wodeyar (1714-1732)</div>
                    </div>
                </div>
                <!-- Image 17 -->
                <div class="image" data-image="17.png">
                    <img src="{{ url_for('static', filename='images/17.png') }}" alt="Chamaraja Wodeyar VII (1732-1734)">
                    <div class="overlay">
                        <div class="text">Chamaraja Wodeyar VII (1732-1734)</div>
                    </div>
                </div>
                <!-- Image 18 -->
                <div class="image" data-image="18.png">
                    <img src="{{ url_for('static', filename='images/18.png') }}" alt="Krishnaraja Wodeyar II (1734-1766)">
                    <div class="overlay">
                        <div class="text">Krishnaraja Wodeyar II (1734-1766)</div>
                    </div>
                </div>
                <!-- Image 19 -->
                <div class="image" data-image="19.png">
                    <img src="{{ url_for('static', filename='images/19.png') }}" alt="Nanjaraja Wodeyar (1766-1770)">
                    <div class="overlay">
                        <div class="text">Nanjaraja Wodeyar (1766-1770)</div>
                    </div>
                </div>
                <!-- Image 20 -->
                <div class="image" data-image="20.png">
                    <img src="{{ url_for('static', filename='images/20.png') }}" alt="Bettada Chamaraja Wodeyar VIII (1770-1776)">
                    <div class="overlay">
                        <div class="text">Bettada Chamaraja Wodeyar VIII (1770-1776)</div>
                    </div>
                </div>
                <!-- Image 21 -->
                <div class="image" data-image="21.png">
                    <img src="{{ url_for('static', filename='images/21.png') }}" alt="Khasa Chamaraja Wodeyar IX (1776-1796)">
                    <div class="overlay">
                        <div class="text">Khasa Chamaraja Wodeyar IX (1776-1796)</div>
                    </div>
                </div>
                <!-- Image 22 -->
                <div class="image" data-image="22.png">
                    <img src="{{ url_for('static', filename='images/22.png') }}" alt="Krishnaraja Wodeyar III (1799-1868)">
                    <div class="overlay">
                        <div class="text">Krishnaraja Wodeyar III (1799-1868)</div>
                    </div>
                </div>
                <!-- Image 23 -->
                <div class="image" data-image="23.png">
                    <img src="{{ url_for('static', filename='images/23.png') }}" alt="Chamaraja Wodeyar X (1868-1894)">
                    <div class="overlay">
                        <div class="text">Chamaraja Wodeyar X (1868-1894)</div>
                    </div>
                </div>
                <!-- Image 24 -->
                <div class="image" data-image="24.png">
                    <img src="{{ url_for('static', filename='images/24.png') }}" alt="Krishnaraja Wodeyar IV (1894-1940)">
                    <div class="overlay">
                        <div class="text">Krishnaraja Wodeyar IV (1894-1940)</div>
                    </div>
                </div>
                <!-- Image 25 -->
                <div class="image" data-image="25.png">
                    <img src="{{ url_for('static', filename='images/25.png') }}" alt="Jayachamaraja Wodeyar (1940-1950)">
                    <div class="overlay">
                        <div class="text">Jayachamaraja Wodeyar (1940-1950)</div>
                    </div>
                </div>
                <!-- Image 26 -->
                <div class="image" data-image="26.png">
                    <img src="{{ url_for('static', filename='images/26.png') }}" alt="Srikantadatta Narasimharaja Wodeyar (1953-2013)">
                    <div class="overlay">
                        <div class="text">Srikantadatta Narasimharaja Wodeyar (1953-2013)</div>
                    </div>
                </div>
                <!-- Image 27 -->
                <div class="image" data-image="27.png">
                    <img src="{{ url_for('static', filename='images/27.png') }}" alt="Yaduveer Krishnadatta Chamaraja Wodeyar (2015-Present)">
                    <div class="overlay">
                        <div class="text">Yaduveer Krishnadatta Chamaraja Wodeyar (2015-Present)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Language and Search Section -->
    <div class="container right">
        <div class="btn-group">
            <button id="kan" style="background-color: yellow;" onclick="document.getElementById('lang').style.fontFamily='Noto Sans Kannada'">ಕನ್ನಡ</button>
            <button id="eng" style="background-color: red;" onclick="document.getElementById('lang').style.fontFamily='Dancing Script'">English</button>
        </div>

        <h1 id="lang" class="display-1">Welcome to Sirinaadu</h1>
        <h4 id="lang2">Royal Heritage of the Wodeyars</h4>

        <form id="chat-form">
            <button type="button" class="icon-btn">
                <svg viewBox="0 0 1024 1024">
                    <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
                </svg>
            </button>

            <input type="search" id="query" name="q" placeholder="Search..." aria-label="Search through RAG">
            
            <button type="button" class="icon-btn" id="voice-search-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                    <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3"/>
                </svg>
            </button>
        </form>

        <div id="chat-output"></div>
    </div>
    <footer class="footer">
        <p>For more information, visit our <a href="{{ url_for('sources') }}">Sources</a> page.</p>
    </footer>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

      
</body>

</html>
